*{
    box-sizing: border-box;
}
body{
    font-family: "Exo", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: #f0f1f0f2;
}
header{
    background-color:  #e10098;
    width: 100%;
    height: 100px;
}
header .box-up, .box-down{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}
header .box-up{
    background-color:  #d10098;
}
header img{
    width: 2em;
}
header .box-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    margin-left: 5em;
    width: 75px;
    height: 50px;
}
header span{
    font-size: 1em;
    font-weight: bold;
}
header .box-2{
    padding: 0em 2em;  
}
header .box-3, .box-8, .box-10 {
   border-right:2px solid #fff;
   padding-right: 15px;
   height: 25px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   text-align: center;
}
header .box-4, .box-5, .box-6, .box-9, .box-11, .box-12, .box-15, .box-17{
    margin-left: 25px;
}
header .box-7{
    margin-left: 16em;
}
header .box-9{
    margin-left: 25px;
}
header .box-13{
    margin-left: 55px;
    background-image: url(assets/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header .box-14{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .box-16{
    margin-left: 65em;
}
header .box-18, .box-19{
    margin-left: 3em;
}
header .box-20{
    position: relative;
    top: 9px;
    right: 15px;
    background-color: #fff;
    color: #e10098;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

