*{
    box-sizing: border-box;
}
body{
    font-family: "Exo", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: #fff;
}
.container{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color: #e10098;  
}
header .box-up, .box-down{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}
header .box-up{
    background-color: #d10098;
}
header .box-up, .box-svg, .box-svg-1{
   display: flex;
   flex-direction: row;
}
header .box-svg, .box-svg-1{
    margin-left: -120px;
}
header .bolder{
    font-weight: bold;
    width: 100px;
}
header .bolder2{
    width: 100px;
    height: 20px;
    border-right: 2px solid #fff;
}
header .box-svg-1 img{
    margin-left: 130px;
}
header .bolder3{
    font-weight: bold;
    margin: 0px 15px 0px 15px;
    width: 120px;
}
header .bolder4{
    width: 300px;
    margin-left: -35px;
}
header .box-up .img1{
    margin-top: -15px;
}
header a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}
header img{
    width: 30px;
    height: 40px;   
}
header .box-buttons{
   display: flex;
   flex-direction: row;
   margin-left: 420px;
}
header .box-img1{
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 18px;
}
header .box-img1:first-child{
    border-right: 2px solid 
    #fff;
}
header .box-img1:nth-child(2){
    border-right: 2px solid #fff;
}
header .box-img1:nth-child(3){
    border-right: 2px solid #fff;
    padding-left: 15px;
}
.box-down{
    height: 75px;
}
header .box-logo{
    background-image: url(assets/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 55px;
    cursor: pointer;
    margin-left: -130px;
    margin-top: -15px;
}
header .box-down span{
    position: relative;
    top: -15px;
    margin-left: 15px;
}
header .box-right{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    text-align: right;
    position: relative;
    margin-left: 850px;
}
header .box-svg4{
    margin-left: 35px;
}
header .box-svg5{
    margin-left: 35px;
}
header .box-svg5 span{
    position: relative;
    top: -5px;
    left: -27px;
    background-color: white;
    border-radius: 50%;
    color: #d10098;
    font-weight: bold;
}
